<%= form_for(@post) do |f| %>
<div class="row">
  <div class="col-md-6">      

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "What item are you selling?" %>

    <div class="row">
      <div class="col-xs-6">

        <%= f.label :category %>
        <%= f.select(:category, [['Automotive'],['Hunting And Outdoors', 'HuntingAndOutdoors'], ['Furniture'], ['Computers and Electronics','ComputersAndElectronics']], {}, { :class => 'form-control' })  %>

      </div>

      <div class="col-xs-6">
        <%= f.label :price %>
        <%= f.number_field :price , class: 'form-control' %>
      </div>
    </div>

    <%= f.label :body, 'Description' %>
    <%= f.text_area :body, class: 'form-control', rows: '4' %>        
  </div>

  <div class="col-md-4">
    <h3>Attach a picture</h3>
    <h4 style="color:red;font-size:15px;">Warning: Photo functionality not yet implemented!</h4>

    <label for="picture">Select Image</label>
    <input type="file" id="picture">

    <p class="help-block">Upload an image of the item you are selling.</p>
    <br>

    <%= f.submit "Submit", class: 'btn btn-primary btn-block' %>
  </div>
</div>

<% end %>
